/* Reset default styles */
body, h1, ul, li, a, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Header styling */
header {
    width: 100%;
}

/* Top Header Section */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #fff;
}

/* Left Icons */
.left-icons i {
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}

/* Logo */
.logo img{
    height: 100px;
    width: auto;
}

/* Right Icons */
.right-icons {
    display: flex;
    align-items: center;
}

.right-icons i {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-btn {
    background-color: #d43f28;
    color: white;
    border: solid;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: wheat;
    min-width: 120px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    z-index: 1;


}
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Navigation Bar */
.main-nav {
    background-color: #d43f28;
    padding: 10px 0;
    height: 50px;
    
}

.main-nav img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
}


.main-nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
   
}

.main-nav ul li {
    margin: 15px 15px;
}

.main-nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.main-nav ul li a:hover {
    color: #ffcccb;
}